.paid-panel
  width: 100px
  text-align: center
.fixed-panel
  width: 150px
.span
  height: 20px
  border-right: 1px #aaa solid
.people
  padding: 10px 20px
  border-right: 1px #aaa solid
  border-bottom: 1px #aaa solid
